
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
body {
    line-height: 1.6;
    background-color: #f4f4f4;
    background-image:url(https://images.hdqwalls.com/download/table-mountain-south-africa-lq-1920x1080.jpg);
    padding: 20px;
}



.main-header {
    text-align: center;
    padding: 20px;
    background-color: #2ab9b0;
    color: white;
}

.logo {
    margin: 10px 0;
}

.tagline {
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 0;
}


.navbar {
    display: flex;
    justify-content: center;
    background-color: #785f46a1;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar li {
    list-style-type: none;
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #785f46a1;
    color: white;
}


main {
    margin: 20px 0;
}

.about-us .profile {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-us img {
    border-radius: 50%;
    margin-bottom: 15px;
}

.contact-info {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.contact-info h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}


@media (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
    }

    .profile, .contact-info {
        padding: 15px;
    }
}
