body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image:url(https://images.hdqwalls.com/download/table-mountain-south-africa-lq-1920x1080.jpg);
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    background: #2ab9b0;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}


h1 {
    font-size: 2.5em;
}

.logo {
    border-radius: 50%;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #785f46a1;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar li {
    list-style-type: none;
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #785f46a1;
    color: white;
}

.container {
    max-width: 900px; 
    margin: auto;
    background: white;
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); 
}

h2 {
    color: #444; 
    margin-bottom: 20px; 
    font-size: 1.8em; 
}

.row {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 20px;
}

.column {
    flex: 1;
    padding: 15px; 
    min-width: 250px; 
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    border: 2px solid #e0e0e0; 
     border-radius: 50%;
  
}

form {
    background-color: #f9f9f9; 
    padding: 25px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

label {
    margin-top: 15px; 
    font-weight: bold;
    display: block;
    color: #555; 
}

input[type="text"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 12px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; 
}

input[type="submit"]:hover {
    background-color: #555; 
}
