body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image:url(https://images.hdqwalls.com/download/table-mountain-south-africa-lq-1920x1080.jpg);
    margin: 0;
    padding: 20px;
    color: #333;
    line-height: 1.6;
}

header {
    background: #2ab9b0;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
    font-size: 1.5rem;
}

header img {
    display: block;
    margin: 10px auto;
}

.logo {
    border-radius: 50%;
}


.navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(120, 95, 70, 0.8);
    padding: 10px 0;
}

.navbar li {
    list-style: none;
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: rgba(120, 95, 70, 0.7);
}
.container {
    max-width: 900px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h3 {
    color: #333;
    margin-bottom: 15px;
}
input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"] {
    background: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background: #45a049;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-50 {
    flex: 1;
    padding: 20px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar li {
        margin: 10px 0;
    }

    .col-50 {
        flex-basis: 100%;
    }
}
